.custom-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.custom-switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 22px;
}

.custom-switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.custom-switch-input:checked + .custom-switch-slider {
  background-color: #1677ff;
}

.custom-switch-input:checked + .custom-switch-slider:before {
  transform: translateX(22px);
}

.custom-switch-input:disabled + .custom-switch-slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-switch-slider:hover {
  opacity: 0.9;
}
